- var seo_title = "WISS 2021: 第29回インタラクティブシステムとソフトウェアに関するワークショップ"
- var seo_base_url = "https://wiss.org/WISS2021/"
- var seo_heading_phrase = "WISSは，インタラクティブシステムにおける未来を切り拓くような新しいアイデア・技術を議論するワークショップです．この分野において国内でもっともアクティブな学術会議のひとつであり，例年150名以上の参加者が朝から深夜まで活発で意義深い情報交換を行っています．さまざまなバックグラウンドをもった方々からの積極的な論文投稿及び参加をお待ちしています．"
- var seo_card_url = seo_base_url + "assets/logo/twitter-card.png"
- var seo_twitter_account = "@wiss_official"

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=seo_title)
meta(name="twitter:description" content=seo_heading_phrase)
meta(name="twitter:url" content=seo_base_url)
meta(name="twitter:image" content=seo_card_url)
meta(name="twitter:site" content=seo_twitter_account)
meta(name="twitter:image:alt" content="WISS 2021")
